/*$yellow: #edb248;*/
/*$brown: #b88b5c;*/

/* Header, hero, common styles*/

#mojave body, #mojave h1, #mojave span,
#mojave h3, #mojave p, #mojave blockquote,
#mojave pre, #mojave div, #mojave button {
	font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
}

h1, .h1 {
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 26.4px;
}

h3, .h3 {
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 15.4px;
}

p, .p {
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

blockquote, .blockquote {
	font-size: 17.5px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 25px;
}

pre, .pre {
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

#mojave,
#mojave .v-footer {
	background: #fff;
}

#mojave .smooth {
	transition: all .3s
}

#mojave .red-text {
	color: red;
}

#mojave .mojave,
#mojave .mojave-background,
#mojave .hero,
#mojave .v-toolbar.header,
#mojave .menu-hover {
	background-color: #edb248;
}

#mojave .container {
	max-width: 1200px;
}

#mojave .v-toolbar__content {
	padding: 0;
}

#mojave .default-header-wrapper {
	max-width: 1200px;
}

#mojave .mojave {
	padding-bottom: 11px;
}

#mojave .logo {
	transition: all .3s
}

#mojave .logo .mojave-logo {
	height: 49px;
	width: 148px;
	background-position: center center;
	background-image: url('data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iMTQ4cHgiIGhlaWdodD0iNDlweCIgdmlld0JveD0iMCAwIDE0OCA0OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxnIGlkPSIwLS0tRC0tLUhvbWUtUGFnZSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9IjAtLS1Ib21lLVBhZ2UtMTQ0MCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTEzMC4wMDAwMDAsIC0yNC4wMDAwMDApIj4KICAgICAgICAgICAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjE0NDAiIGhlaWdodD0iMzQ4MSI+PC9yZWN0PgogICAgICAgICAgICA8ZyBpZD0iSGVyby1pbWFnZSI+CiAgICAgICAgICAgICAgICA8ZyBpZD0iTG9nbyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTMwLjAwMDAwMCwgMjQuMDAwMDAwKSI+CiAgICAgICAgICAgICAgICAgICAgPGc+CiAgICAgICAgICAgICAgICAgICAgICAgIDxnPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPGc+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPHBhdGggZmlsbD0iI2ZmZmZmZiIKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIGQ9Ik0xMzguMDQ1MjU0LDE0Ljc5Nzk0MTIgQzEzNi41NDA1MDIsMTQuODkwNTg4MiAxMzQuODI3NzQsMTYuMDAzODIzNSAxMzQuMDQyOTA4LDE3LjQ4MDI5NDEgQzEzMC43NjE5NTcsMjMuNjU2NzY0NyAxMzMuNTYxOTc3LDI4LjA0NSAxMzMuNTYxOTc3LDI4LjA0NSBMMTQxLjI2NTcyLDIyLjU5NjQ3MDYgQzE0Mi42NjU3MywyMS42MDUyOTQxIDE0My4yNDEwNzYsMTkuNzUzODIzNSAxNDIuNTgzMTE2LDE4LjE1MzgyMzUgQzE0MS44Nzc5NDgsMTYuNDM2MTc2NSAxNDAuNTM4NDIzLDE0LjY0MzUyOTQgMTM4LjA0NTI1NCwxNC43OTc5NDEyIE0xMjcuNzI0NDIzLDI0Ljk2MjY0NzEgQzEyNy43MjQ0MjMsMjEuMzgxNzY0NyAxMjguODAyODI5LDE4LjMzOTExNzYgMTMwLjk1OTY0MSwxNS44MzYxNzY1IEMxMzMuMTE2NDUyLDEzLjMzMzIzNTMgMTM1Ljc4ODEyNiwxMi4wODE3NjQ3IDEzOC45NzE3MSwxMi4wODE3NjQ3IEMxNDEuNDAyOTE4LDEyLjA4MTc2NDcgMTQzLjQ5MTg2OCwxMi44NTUyOTQxIDE0NS4yMzcwODYsMTQuNDAwODgyNCBDMTQ2LjM5MDczLDE1LjQyNDQxMTggMTQ3LjE4NTg4OCwxNi43MzE3NjQ3IDE0Ny42MjI1NjEsMTguMzIyOTQxMiBDMTQ4LjAxNjQ1MiwxOS43NjExNzY1IDE0Ny40MzUyMDUsMjEuMjkzNTI5NCAxNDYuMjE5NjAxLDIyLjEzMTc2NDcgQzE0Mi41NTgwMzcsMjQuNjYyNjQ3MSAxMzQuODQzOTY3LDMwLjQ4NDcwNTkgMTM0Ljg0Mzk2NywzMC40ODQ3MDU5IEMxMzYuMTc5MDY2LDMyLjEzNDcwNTkgMTM4LjM1NTA1NiwzMi44ODkxMTc2IDE0MC45MjM0NjIsMzIuODg5MTE3NiBDMTQyLjA4NzQzMywzMi44ODkxMTc2IDE0My4yMDg2MjEsMzIuNjg5MTE3NiAxNDQuMjg3MDI3LDMyLjI4OTExNzYgQzE0NS4zNjY5MDgsMzEuODg5MTE3NiAxNDYuMTQ0MzYzLDMxLjQ5OTQxMTggMTQ2LjYyMzgxOSwzMS4xMTU1ODgyIEwxNDcuMzQzNzQsMzAuNTQyMDU4OCBMMTQ3LjkwODc1OSwzMS44NDUgQzE0Ny44Mzk0MjMsMzEuOTg2MTc2NSAxNDcuNzI4Nzc5LDMyLjE2NzA1ODggMTQ3LjU3Mzg3OCwzMi4zOTIwNTg4IEMxNDcuNDIwNDUyLDMyLjYxODUyOTQgMTQ3LjA3NjcyLDMzLjAxODUyOTQgMTQ2LjU0NzEwNiwzMy41OTM1Mjk0IEMxNDYuMDE2MDE3LDM0LjE2NTU4ODIgMTQ1LjQzNDc2OSwzNC42Nzg4MjM1IDE0NC44MDE4ODgsMzUuMTMxNzY0NyBDMTQ0LjE2NzUzMiwzNS41ODMyMzUzIDE0My4zMTkyNjQsMzUuOTkyMDU4OCAxNDIuMjU4NTYxLDM2LjM1NTI5NDEgQzE0MS4xOTYzODMsMzYuNzIxNDcwNiAxNDAuMDg0MDQ3LDM2LjkwNTI5NDEgMTM4LjkyMDA3NiwzNi45MDUyOTQxIEMxMzUuMzk0MjM1LDM2LjkwNTI5NDEgMTMyLjY0NTg0OSwzNS43MzkxMTc2IDEzMC42Nzc4NjgsMzMuNDA5NzA1OSBDMTI4LjcwODQxMywzMS4wODE3NjQ3IDEyNy43MjQ0MjMsMjguMjY1NTg4MiAxMjcuNzI0NDIzLDI0Ljk2MjY0NzEiIGlkPSJGaWxsLTE5NSI+PC9wYXRoPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwYXRoIGZpbGw9IiNmZmZmZmYiCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICBkPSJNMTA0LjYwNzczNywzNC4wMzY2MTc2IEwxMDQuMDM5NzY2LDMzLjA0ODM4MjQgQzEwMy45OTEwODMsMzIuOTYzMDg4MiAxMDMuODgwNDQsMzIuOTM5NTU4OCAxMDMuODAwNzc2LDMyLjk5NTQ0MTIgTDEwMy41OTU3MTcsMzMuMTQzOTcwNiBDMTAzLjU5MTI5MSwzMy4xNDY5MTE4IDEwMy41ODY4NjUsMzMuMTQ5ODUyOSAxMDMuNTgyNDQsMzMuMTUyNzk0MSBDMTAzLjM0MTk3NCwzMy4yOTI1IDEwMy4wMTE1MTksMzMuNDQ2OTExOCAxMDIuNTg4MTIzLDMzLjYxODk3MDYgQzEwMi4xNTg4MjYsMzMuNzkyNSAxMDEuNzU3NTU4LDMzLjg3OTI2NDcgMTAxLjM4MTM3LDMzLjg3OTI2NDcgQzEwMC44MzI1NzgsMzMuODc5MjY0NyAxMDAuNDc0MDkzLDMzLjY4ODA4ODIgMTAwLjMwMTQ4OSwzMy4zMDU3MzUzIEMxMDAuMTMwMzYsMzIuOTIzMzgyNCAxMDAuMDQ2MjcxLDMyLjI5ODM4MjQgMTAwLjA0NjI3MSwzMS40MjkyNjQ3IEwxMDAuMDQ2MjcxLDE5LjUzODA4ODIgQzEwMC4wNDYyNzEsMTYuNzU4Njc2NSA5OS42MDgxMjI4LDE0LjgxODk3MDYgOTguNzM2MjUxNSwxMy43MjQ4NTI5IEM5Ny44NjI5MDUsMTIuNjI5MjY0NyA5Ni4xNzUyMjE4LDEyLjA4MjIwNTkgOTMuNjc3NjI3NywxMi4wODIyMDU5IEM5MS44NjE1OTgsMTIuMDgyMjA1OSA5MC4wNzM1OTgsMTIuMzY4OTcwNiA4OC4zMTA2NzcyLDEyLjk0MTAyOTQgQzg2LjU0NjI4MTIsMTMuNTE2MDI5NCA4NS4zOTExNjI0LDEzLjk2NzUgODQuODQzODQ1NSwxNC4yOTY5MTE4IEM4NC4zNDM3MzY2LDE0LjU5OTg1MjkgODMuOTQyNDY5MywxNC44NjQ1NTg4IDgzLjY0Mjk5NDEsMTUuMDkzOTcwNiBDODMuNTg5ODg1MSwxNS4xMzM2NzY1IDgzLjU2OTIzMTcsMTUuMTk5ODUyOSA4My41ODM5ODQyLDE1LjI2NDU1ODggTDg0LjUwNjAxMzksMTkuMjUyNzk0MSBDODQuNTEwNDM5NiwxOS4yNzQ4NTI5IDg0LjUyMDc2NjMsMTkuMjkzOTcwNiA4NC41MzQwNDM2LDE5LjMxMTYxNzYgQzg0LjY4NTk5NDEsMTkuNzIwNDQxMiA4NS4wNzEwMzM3LDIwLjAxMTYxNzYgODUuNTI2ODg1MSwyMC4wMTE2MTc2IEM4NS45OTMwNjM0LDIwLjAxMTYxNzYgODYuMzg0MDA0LDE5LjcwNzIwNTkgODYuNTI4NTc4MiwxOS4yODM2NzY1IEM4Ni41Mjg1NzgyLDE5LjI4MzY3NjUgODYuNTMwMDUzNSwxOS4yODIyMDU5IDg2LjUzMDA1MzUsMTkuMjgyMjA1OSBMODcuMDUyMjkxMSwxOC4wNzkyNjQ3IEM4Ny40NjI0MDk5LDE3LjIxMDE0NzEgODguMTA1NjE3OCwxNi4zMzIyMDU5IDg4Ljk3NzQ4OTEsMTUuNDQzOTcwNiBDODkuODUwODM1NiwxNC41NTg2NzY1IDkwLjc2Njk2NDQsMTQuMTE2MDI5NCA5MS43MjU4NzUyLDE0LjExNjAyOTQgQzkzLjIzMjEwMywxNC4xMTYwMjk0IDk0LjE5MTAxMzksMTUuMTA1NzM1MyA5NC42MDExMzI3LDE3LjA4ODA4ODIgQzk0LjgzNTY5NywxOC4yODIyMDU5IDk0LjkwNzk4NDIsMjAuMDc3Nzk0MSA5NC44MTM1NjgzLDIyLjQ3MzM4MjQgQzk0LjgxMDYxNzgsMjIuNTU0MjY0NyA5NC43NTAxMzI3LDIyLjYyMzM4MjQgOTQuNjcxOTQ0NiwyMi42MzUxNDcxIEw5My4wNjA5NzQzLDIyLjg3NjMyMzUgQzg5Ljk3OTE4MjIsMjMuMzYzMDg4MiA4Ny4zMTYzNjA0LDI0LjMyMDQ0MTIgODUuMDc1NDU5NCwyNS43NDM5NzA2IEM4Mi44MzE2MDc5LDI3LjE3MDQ0MTIgODEuNzEwNDE5OCwyOS4wNDgzODI0IDgxLjcxMDQxOTgsMzEuMzc2MzIzNSBDODEuNzEwNDE5OCwzMy4wMTE2MTc2IDgyLjIzMjY1NzQsMzQuMzQxMDI5NCA4My4yNzcxMzI3LDM1LjM2NjAyOTQgQzg0LjMyMTYwNzksMzYuMzkxMDI5NCA4NS42NjU1NTg0LDM2LjkwNDI2NDcgODcuMzA4OTg0MiwzNi45MDQyNjQ3IEM4OC4yMzM5NjQ0LDM2LjkwNDI2NDcgODkuMTMyMzkwMSwzNi43Mzk1NTg4IDkwLjAwNTczNjYsMzYuNDA4Njc2NSBDOTAuODc3NjA3OSwzNi4wNzc3OTQxIDkxLjU4ODY3NzIsMzUuNzA0MjY0NyA5Mi4xMzU5OTQxLDM1LjI4ODA4ODIgQzkyLjY4MzMxMDksMzQuODcwNDQxMiA5My4yMDU1NDg1LDM0LjM5MjUgOTMuNzAyNzA2OSwzMy44NTI3OTQxIEM5NC4xOTgzOTAxLDMzLjMxNDU1ODggOTQuNTE1NTY4MywzMi45NDEwMjk0IDk0LjY1Mjc2NjMsMzIuNzMyMjA1OSBDOTQuNjU0MjQxNiwzMi43MzA3MzUzIDk0LjY1NTcxNjgsMzIuNzI3Nzk0MSA5NC42NTcxOTIxLDMyLjcyNjMyMzUgQzk0Ljc0ODY1NzQsMzIuNTg2NjE3NiA5NC45NjEwOTMxLDMyLjY1Mjc5NDEgOTQuOTYxMDkzMSwzMi44MTg5NzA2IEw5NC45NjEwOTMxLDMzLjMwNTczNTMgQzk0Ljk2MTA5MzEsMzQuNDUyNzk0MSA5NS4zMTIyMDIsMzUuMzM5NTU4OCA5Ni4wMTQ0MTk4LDM1Ljk2NDU1ODggQzk2LjcxNTE2MjQsMzYuNTkxMDI5NCA5Ny42NDc1MTg4LDM2LjkwNDI2NDcgOTguODEyOTY0NCwzNi45MDQyNjQ3IEM5OS44MDU4MDU5LDM2LjkwNDI2NDcgMTAwLjgxNjM1LDM2LjY1MTMyMzUgMTAxLjg0MzEyMywzNi4xNDgzODI0IEMxMDIuODY5ODk1LDM1LjY0Mzk3MDYgMTAzLjU1NDQxLDM1LjIzNTE0NzEgMTAzLjg5ODE0MywzNC45MjE5MTE4IEMxMDQuMTkxNzE3LDM0LjY1Mjc5NDEgMTA0LjQyMzMzMSwzNC40MjE5MTE4IDEwNC41OTE1MDksMzQuMjI5MjY0NyBDMTA0LjYzODcxNywzNC4xNzYzMjM1IDEwNC42NDMxNDMsMzQuMDk4MzgyNCAxMDQuNjA3NzM3LDM0LjAzNjYxNzYgTDEwNC42MDc3MzcsMzQuMDM2NjE3NiBaIE05NC44MDc2NjczLDMwLjg3OTI2NDcgQzk0LjgwNzY2NzMsMzAuOTMwNzM1MyA5NC43ODQwNjM0LDMwLjk3OTI2NDcgOTQuNzQ1NzA2OSwzMS4wMTAxNDcxIEM5Mi44MjA1MDg5LDMyLjYxMTYxNzYgOTEuMTk3NzM2NiwzMy40MTAxNDcxIDg5Ljg3NTkxNDksMzMuNDEwMTQ3MSBDODkuMDU1Njc3MiwzMy40MTAxNDcxIDg4LjM5NDc2NjMsMzMuMTIzMzgyNCA4Ny44OTkwODMyLDMyLjU0OTg1MjkgQzg3LjQwMzQsMzEuOTc2MzIzNSA4Ny4xNTU1NTg0LDMxLjIyMDQ0MTIgODcuMTU1NTU4NCwzMC4yODIyMDU5IEM4Ny4xNTU1NTg0LDI4Ljc1MTMyMzUgODcuNzYzMzYwNCwyNy41NDM5NzA2IDg4Ljk3NzQ4OTEsMjYuNjU3MjA1OSBDOTAuMTkzMDkzMSwyNS43NzE5MTE4IDkxLjY0MDMxMDksMjUuMTg5NTU4OCA5My4zMTc2NjczLDI0LjkxMDE0NzEgTDk0LjYxNDQwOTksMjQuNjgzNjc2NSBDOTQuNzE0NzI2NywyNC42NjYwMjk0IDk0LjgwNzY2NzMsMjQuNzQ1NDQxMiA5NC44MDc2NjczLDI0Ljg0ODM4MjQgTDk0LjgwNzY2NzMsMzAuODc5MjY0NyBaIiBpZD0iRmlsbC0xOTciPjwvcGF0aD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8cGF0aCBmaWxsPSIjZmZmZmZmIgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgZD0iTTAuMzgzNDE2ODMyLDM1Ljk3NTQ0MTIgTDAuMzgzNDE2ODMyLDM1LjA1NjMyMzUgQzAuMzgzNDE2ODMyLDM0LjgzNDI2NDcgMC41NDEyNjgzMTcsMzQuNjQ0NTU4OCAwLjc1NjY1NDQ1NSwzNC42MDc3OTQxIEMyLjczMjAxMDg5LDM0LjI2MDczNTMgMi42MTg0MTY4MywzMy4yMDA0NDEyIDIuNzE1NzgzMTcsMzEuNDI4MzgyNCBMMy43NDI1NTU0NSw2LjcxMDczNTI5IEMzLjgxMDQxNjgzLDUuNDI1NDQxMTggMy4xNzc1MzU2NCw0LjE1NDg1Mjk0IDMuMTc3NTM1NjQsNC4xNTQ4NTI5NCBDMy4xNzc1MzU2NCw0LjE1NDg1Mjk0IDMuMDM4ODYyMzgsMy4zNzgzODIzNSAxLjM2Mjk4MTE5LDIuOTc1NDQxMTggQzEuMTc4NTc1MjUsMi45MzEzMjM1MyAxLjA1MTcwMzk2LDIuNzU3Nzk0MTIgMS4wNTE3MDM5NiwyLjU2MzY3NjQ3IEwxLjA1MTcwMzk2LDEuOTU5MjY0NzEgQzEuMDUxNzAzOTYsMS43MDMzODIzNSAxLjI1NTI4ODEyLDEuNDk2MDI5NDEgMS41MDc1NTU0NSwxLjQ5NjAyOTQxIEwzLjY0MDc2MzM3LDEuNDk2MDI5NDEgTDEwLjQxOTUyNTcsMS4yODcyMDU4OCBMMTAuNjI0NTg1MSwxLjQ5NjAyOTQxIEMxMS4wMDA3NzMzLDMuMDU5MjY0NzEgMTEuNDk3OTMxNyw0LjY1OTI2NDcxIDEyLjExNDU4NTEsNi4yOTMwODgyNCBMMTkuMjUxODMyNywyNS4wMTUxNDcxIEMxOS41MTg4NTI1LDI1LjY3NTQ0MTIgMTkuNzk2MTk5LDI2LjUxNTE0NzEgMjAuMDg4Mjk4LDI3LjUzNzIwNTkgQzIwLjEzNTUwNTksMjcuNzAwNDQxMiAyMC4zNTk3NDM2LDI3LjcxMzY3NjUgMjAuNDIxNzA0LDI3LjU1NjMyMzUgTDI5LjQxOTIzODYsNS4xNTMzODIzNSBDMjkuNDIwNzEzOSw1LjE0ODk3MDU5IDI5LjQyMjE4OTEsNS4xNDMwODgyNCAyOS40MjM2NjQ0LDUuMTM4Njc2NDcgTDMwLjUxMjM5NywxLjYyMTAyOTQxIEMzMC41MzYwMDEsMS41NDYwMjk0MSAzMC42MDM4NjI0LDEuNDk2MDI5NDEgMzAuNjgwNTc1MiwxLjQ5NjAyOTQxIEwzMi40MDA3MTM5LDEuNDk2MDI5NDEgTDM3LjgxMDQ0NjUsMS4zMDkyNjQ3MSBDMzguMTI0Njc0MywxLjI5ODk3MDU5IDM4LjM1MzMzNzYsMS42MDc3OTQxMiAzOC4yNTMwMjA4LDEuOTA5MjY0NzEgQzM4LjAzMTczMzcsMi41ODQyNjQ3MSAzNy42ODM1NzUyLDMuNjYyMjA1ODggMzcuNDg0NDE2OCw0LjM5MDE0NzA2IEMzNy4xNzYwOTAxLDUuNTIxMDI5NDEgMzcuMDM4ODkyMSw2Ljc0NDU1ODgyIDM3LjA3NDI5OCw4LjA2NjYxNzY1IEwzOC4wNDk0MzY2LDMxLjU4NTczNTMgQzM4LjE5OTkxMTksMzMuMDE4MDg4MiAzOC44MzEzMTc4LDM0LjAyOTg1MjkgNDAuMDEwMDQwNiwzNC4zNDQ1NTg4IEM0MC4zMDIxMzk2LDM0LjQyMjUgNDAuNTEzMSwzNC42ODI3OTQxIDQwLjUxMzEsMzQuOTg4Njc2NSBMNDAuNTEzMSwzNS40MTIyMDU5IEM0MC41MTMxLDM1LjgwNzc5NDEgNDAuMjAzMjk4LDM2LjEzMTMyMzUgMzkuODEzODMyNywzNi4xNDMwODgyIEwzMS4wNTA4NjI0LDM2LjQxMzY3NjUgQzMwLjY4MDU3NTIsMzYuNDI1NDQxMiAzMC4zNzUxOTksMzYuMTIzOTcwNiAzMC4zNzUxOTksMzUuNzQ4OTcwNiBMMzAuMzc1MTk5LDM1LjA3MTAyOTQgQzMwLjM3NTE5OSwzNC44NDMwODgyIDMwLjUyMTI0ODUsMzQuNjUwNDQxMiAzMC43MzIyMDg5LDM0LjU3NTQ0MTIgQzMxLjc1MDEyOTcsMzQuMjE4MDg4MiAzMi43Mjk2OTQxLDMyLjkxMjIwNTkgMzIuNjA1NzczMywzMS41ODU3MzUzIEwzMS42MTE0NTY0LDcuMjcxMDI5NDEgQzMxLjYwNDA4MDIsNy4wNzgzODIzNSAzMS4zNDI5NjE0LDcuMDMyNzk0MTIgMzEuMjcwNjc0Myw3LjIxMDczNTI5IEwxOS43MjM5MTE5LDM1Ljg3MjUgQzE5LjYzMjQ0NjUsMzYuMTAwNDQxMiAxOS4xNTI5OTExLDM2LjEzNTczNTMgMTkuMTUyOTkxMSwzNi4xMzU3MzUzIEwxOC4yNjYzNjczLDM2LjEzNTczNTMgQzE3Ljk2Mzk0MTYsMzYuMTM1NzM1MyAxNy42OTEwMjA4LDM1Ljk0NzUgMTcuNTgwMzc3MiwzNS42NjA3MzUzIEw2LjYzNjk5MTA5LDcuMTYzNjc2NDcgQzYuNTY5MTI5Nyw2Ljk4NTczNTI5IDYuMzEwOTYxMzksNy4wMjU0NDExOCA2LjI5NDczMzY2LDcuMjE2NjE3NjUgQzYuMjU5MzI3NzIsNy42NzEwMjk0MSA2LjIyOTgyMjc3LDguMTEwNzM1MjkgNi4yMDc2OTQwNiw4LjUzNTczNTI5IEw1LjMzNDM0NzUyLDMxLjQyODM4MjQgQzUuMTU3MzE3ODIsMzIuODE1MTQ3MSA2LjA2MzExOTgsMzQuMDc4MzgyNCA3LjM2NTc2MzM3LDM0LjM3MTAyOTQgQzcuNTk4ODUyNDgsMzQuNDIzOTcwNiA3Ljc2NzAzMDY5LDM0LjYzMjc5NDEgNy43NjcwMzA2OSwzNC44NzU0NDEyIEw3Ljc2NzAzMDY5LDM1LjcwNDg1MjkgQzcuNzY3MDMwNjksMzUuOTM3MjA1OSA3LjU4NTU3NTI1LDM2LjEyOTg1MjkgNy4zNTY5MTE4OCwzNi4xMzg2NzY1IEwwLjgzNDg0MjU3NCwzNi40MTUxNDcxIEMwLjU4ODQ3NjIzOCwzNi40MjY5MTE4IDAuMzgzNDE2ODMyLDM2LjIyNTQ0MTIgMC4zODM0MTY4MzIsMzUuOTc1NDQxMiIgaWQ9IkZpbGwtMTk5Ij48L3BhdGg+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPHBhdGggZmlsbD0iI2ZmZmZmZiIKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIGQ9Ik00OC4xODAyNTY0LDIzLjcxMTAyOTQgQzQ4LjE4MDI1NjQsMjUuNTUzNjc2NSA0OC4zOTQxNjczLDI3LjI5MTkxMTggNDguODIxOTg5MSwyOC45MjU3MzUzIEM0OS4yNDk4MTA5LDMwLjU1OTU1ODggNDkuOTk0ODEwOSwzMS45NjY5MTE4IDUxLjA1Njk4OTEsMzMuMTQ5MjY0NyBDNTIuMTE3NjkyMSwzNC4zMzE2MTc2IDUzLjM4MzQ1NDUsMzQuOTIxMzIzNSA1NC44NTcyMjY3LDM0LjkyMTMyMzUgQzU2Ljg3Njg0MDYsMzQuOTIxMzIzNSA1OC4zOTE5MTk4LDMzLjkxMzk3MDYgNTkuNDAyNDY0NCwzMS44OTc3OTQxIEM2MC40MTE1MzM3LDI5Ljg4MTYxNzYgNjAuOTE3NTQzNiwyNy41MTgzODI0IDYwLjkxNzU0MzYsMjQuODA1MTQ3MSBDNjAuODgyMTM3NiwyMy4wMzE2MTc2IDYwLjY2MDg1MDUsMjEuMzYyNSA2MC4yNDkyNTY0LDE5Ljc5OTI2NDcgQzU5LjgzNzY2MjQsMTguMjM0NTU4OCA1OS4xMTAzNjUzLDE2Ljg4NzUgNTguMDY3MzY1MywxNS43NTgwODgyIEM1Ny4wMjE0MTQ5LDE0LjYyODY3NjUgNTUuNzYzMDI4NywxNC4wNjI1IDU0LjI5MjIwNjksMTQuMDYyNSBDNTIuMzA2NTIzOCwxNC4wNjI1IDUwLjc5MTQ0NDYsMTUuMDAwNzM1MyA0OS43NDY5NjkzLDE2Ljg3ODY3NjUgQzQ4LjcwMTAxODgsMTguNzU2NjE3NiA0OC4xODAyNTY0LDIxLjAzMzA4ODIgNDguMTgwMjU2NCwyMy43MTEwMjk0IE00NS41ODY3NzEzLDMzLjU2NjkxMTggQzQzLjQ4MTU5MzEsMzEuMzQxOTExOCA0Mi40MjgyNjYzLDI4LjQ5MTkxMTggNDIuNDI4MjY2MywyNS4wMTM5NzA2IEM0Mi40MjgyNjYzLDIxLjUzNzUgNDMuNDcyNzQxNiwxOC41MTM5NzA2IDQ1LjU2MDIxNjgsMTUuOTQwNDQxMiBDNDcuNjQ5MTY3MywxMy4zNjgzODI0IDUwLjc0ODY2MjQsMTIuMDgxNjE3NiA1NC44NTcyMjY3LDEyLjA4MTYxNzYgQzU4LjU1NDE5NywxMi4wODE2MTc2IDYxLjQ0NzE1NzQsMTMuMTQ5MjY0NyA2My41MzYxMDc5LDE1LjI4ODk3MDYgQzY1LjYyMzU4MzIsMTcuNDI3MjA1OSA2Ni42Njk1MzM3LDIwLjE4MTYxNzYgNjYuNjY5NTMzNywyMy41NTUxNDcxIEM2Ni42Njk1MzM3LDI1LjgxMzk3MDYgNjYuMjI0MDA4OSwyNy45MzQ1NTg4IDY1LjMzNDQzNDcsMjkuOTE1NDQxMiBDNjQuNDQzMzg1MSwzMS44OTc3OTQxIDYzLjAyMjcyMTgsMzMuNTU4MDg4MiA2MS4wNzA5NjkzLDM0Ljg5NjMyMzUgQzU5LjExOTIxNjgsMzYuMjM0NTU4OCA1Ni44MDg5NzkyLDM2LjkwNTE0NzEgNTQuMTM3MzA1OSwzNi45MDUxNDcxIEM1MC41NDM2MDMsMzYuOTA1MTQ3MSA0Ny42OTE5NDk1LDM1Ljc5MTkxMTggNDUuNTg2NzcxMywzMy41NjY5MTE4IiBpZD0iRmlsbC0yMDEiPjwvcGF0aD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8cGF0aCBmaWxsPSIjZmZmZmZmIgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgZD0iTTExNC42MDQzMDksMzYuNDYwMjk0MSBDMTE0LjE0NTUwNywzNi4zNDU1ODgyIDExMy43NjkzMTksMzYuMDExNzY0NyAxMTMuNTk2NzE1LDM1LjU2NjE3NjUgTDEwNi40NzcxNywxNy4xMzk3MDU5IEMxMDYuMTY4ODQ0LDE2LjM0MTE3NjUgMTA1Ljc3NDk1MiwxNS42ODgyMzUzIDEwNS4yOTU0OTcsMTUuMTg1Mjk0MSBDMTA0LjgxNjA0MiwxNC42ODA4ODI0IDEwNC40MDU5MjMsMTQuMzc2NDcwNiAxMDQuMDYzNjY1LDE0LjI3MjA1ODggTDEwMy41NDg4MDQsMTQuMTE0NzA1OSBMMTAzLjU0ODgwNCwxMi43MDczNTI5IEwxMDUuOTYzNzg0LDEyLjcwNzM1MjkgTDExMi4xMjU4OTMsMTIuNDk4NTI5NCBMMTEyLjMzMDk1MiwxMi43MDczNTI5IEMxMTEuNjQ2NDM4LDE0LjIwMTQ3MDYgMTExLjYxMjUwNywxNS44MDE0NzA2IDExMi4yMjkxNiwxNy41MDQ0MTE4IEwxMTUuOTc3NzY0LDI3LjY3NSBDMTE2LjI4NjA5MSwyOC42NDcwNTg4IDExNi41OTQ0MTgsMjkuNzA3MzUyOSAxMTYuOTAxMjY5LDMwLjg1NDQxMTggTDEyMi41NTE0NjcsMTcuOTIyMDU4OCBDMTIzLjM3MzE4LDE2LjAxMDI5NDEgMTIyLjQ4MjEzMSwxNC43NDExNzY1IDExOS44ODEyNjksMTQuMTE0NzA1OSBMMTE5Ljg4MTI2OSwxMi43MDczNTI5IEwxMjcuMTIxNzg0LDEyLjcwNzM1MjkgTDEyNy4zNzg0NzcsMTMuNTQxMTc2NSBDMTI2Ljg5OTAyMiwxMy43NSAxMjYuMzAwMDcxLDE0LjY1NDQxMTggMTI1LjU4MTYyNiwxNi4yNTI5NDEyIEwxMTcuNDIwNTU2LDM1LjA1MTQ3MDYgQzExNi45NDI1NzYsMzYuMTUyOTQxMiAxMTUuNzU1MDAyLDM2Ljc0NzA1ODggMTE0LjYwNDMwOSwzNi40NjAyOTQxIiBpZD0iRmlsbC0yMDMiPjwvcGF0aD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8cGF0aCBmaWxsPSIjZmZmZmZmIgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgZD0iTTc2Ljk5MDM2NTMsMjcuODkzODIzNSBDNzYuOTkwMzY1MywzMS4wODUgNzYuODMyNTEzOSwzNi44MzA1ODgyIDc2LjI1NzE2NzMsMzkuNzAyNjQ3MSBDNzUuMTU2NjMyNyw0NS4wMjE3NjQ3IDcxLjYxNDU2MzQsNDguNjM3OTQxMiA2Ny4yMTM5LDQ4LjYzNzk0MTIgQzY1LjExOTA0ODUsNDguNjM3OTQxMiA2My4zMzg0MjQ4LDQ3LjU3NDcwNTkgNjMuMzM4NDI0OCw0NS43NjU4ODI0IEM2My4zMzg0MjQ4LDQ0LjcwMTE3NjUgNjQuMjgxMTA3OSw0My4xMDcwNTg4IDY1LjY0Mjc2MTQsNDMuMTA3MDU4OCBDNjYuODk5NjcyMyw0My4xMDcwNTg4IDY3Ljg0MjM1NTQsNDMuOTU3MDU4OCA2OC41NzU1NTM1LDQ0LjkxNDQxMTggQzY5LjIwNTQ4NDIsNDUuNzY1ODgyNCA2OS42MjQ0NTQ1LDQ2LjA4NSA3MC4xNDgxNjczLDQ2LjA4NSBDNzEuMzAwMzM1Niw0Ni4wODUgNzIuMDMzNTMzNyw0NC44MDg1Mjk0IDcyLjE4OTkwOTksNDIuMjU1NTg4MiBDNzIuNDUyNTA0LDM4LjYzNzk0MTIgNzIuNTA0MTM3NiwzNC4wNjQ0MTE4IDcyLjQ1MjUwNCwzMC4yMzM1Mjk0IEw3Mi4zNDc3NjE0LDE5Ljc1NTU4ODIgQzcyLjM0Nzc2MTQsMTcuNTIxNzY0NyA3MS44MjQwNDg1LDE2Ljk4OTQxMTggNjkuNzI5MTk3LDE2LjEzOTQxMTggTDY5LjIwNTQ4NDIsMTUuOTI2MTc2NSBDNjguOTk0NTIzOCwxNS44MTg4MjM1IDY4Ljg4OTc4MTIsMTUuNzEyOTQxMiA2OC44ODk3ODEyLDE1LjUwMTE3NjUgTDY4Ljg4OTc4MTIsMTQuOTY4ODIzNSBDNjguODg5NzgxMiwxNC43NTU1ODgyIDY4Ljk5NDUyMzgsMTQuNjQ5NzA1OSA2OS4zMTAyMjY3LDE0LjU0MzgyMzUgQzcwLjA0MzQyNDgsMTQuMjc3NjQ3MSA3NC42ODQ1NTM1LDEyLjIwMjY0NzEgNzUuNDE5MjI2NywxMS42NzAyOTQxIEM3Ni4wNDc2ODIyLDExLjM1MTE3NjUgNzYuNDY2NjUyNSwxMS4zNTExNzY1IDc2Ljc4MDg4MDIsMTEuMzUxMTc2NSBDNzcuMTk5ODUwNSwxMS4zNTExNzY1IDc3LjMwNDU5MzEsMTEuNjcwMjk0MSA3Ny4xOTk4NTA1LDEyLjIwMjY0NzEgQzc3LjA5NTEwNzksMTIuNzM1IDc2Ljk5MDM2NTMsMTYuNDU4NTI5NCA3Ni45OTAzNjUzLDIxLjI5ODIzNTMgTDc2Ljk5MDM2NTMsMjcuODkzODIzNSBaIiBpZD0iRmlsbC0yMDUiPjwvcGF0aD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8cGF0aCBmaWxsPSIjZmZmZmZmIgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgZD0iTTcyLjk2NjAzNzYsNy4yNTc1IEM3MS4xOTI3OTAxLDcuMjU3NSA2OS4zMTQ4LDYuMDkyNzk0MTIgNjkuMzE0OCwzLjg2Nzc5NDEyIEM2OS4zMTQ4LDIuNDM2OTExNzYgNzAuNzIyMTg2MSwwLjUyOTU1ODgyNCA3My4yNzg3OTAxLDAuNTI5NTU4ODI0IEM3NC45NDg3NzAzLDAuNTI5NTU4ODI0IDc2LjcyMjAxNzgsMS43NDg2NzY0NyA3Ni43MjIwMTc4LDMuODY3Nzk0MTIgQzc2LjcyMjAxNzgsNS41NjE5MTE3NiA3NS4zNjYyNjUzLDcuMjU3NSA3Mi45NjYwMzc2LDcuMjU3NSIgaWQ9IkZpbGwtMjA3Ij48L3BhdGg+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgICAgICAgICAgICAgIDwvZz4KICAgICAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==')
}

#mojave .menu-links {
	display: flex;
	justify-content: flex-end;
}

#mojave .menu-links button {
	font-weight: 600;
	font-size: 16px;
	padding: 0 22px;
}

#mojave .menu-links .v-btn--outline {
	border-width: 2px;
	height: 50px;
	width: 136px;
}

#mojave .menu-hover {
	/*-webkit-transform: translateX(100vw)!important;*/
	/*transform:translateX(100vw)!important;*/
	/*width: 100vw!important;*/
}

#mojave .header .contact-us::before {
	color: #fff;
	opacity: 1;
}

#mojave .header .contact-us:hover .v-btn__content {
	color: #000;
}

#mojave .mojave-hamburger {
  float: right;
}

#mojave .hamburger {
  width: 100%;
  max-width: 24px;
}

#mojave .hamburger-line {
  border-top: 2px solid #fff;
}

#mojave .hamburger-line:not(:first-child) {
  margin-top: 5px;
}

#mojave .close-icon {

}

#mojave .close-icon:before, #mojave .close-icon:after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: ' ';
  height: 24px;
  width: 2px;
  background-color: #fff;
}

#mojave .close-icon:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

#mojave .close-icon:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

#mojave .v-alert .v-icon {
  display: none;
}

#mojave .more-services-text {
  margin-right: 10px;
}

#mojave .arrow-down {
  border: solid #EDB248;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: transform .2s ease-in-out;
}

#mojave .arrow-down.rotated {
  transform: rotate(225deg);
  margin-top: 6px;
}

#mojave .hero .mojave-title {
	text-align: center;
	font-size: 62px;
	line-height: 1.2;
	font-weight: 700;
	margin: 11px 0 0 0;
	letter-spacing: 0.7px;
}

#mojave .hero-pixel-perfect {
	transition: all .3s
}

#mojave p.mojave-description {
	margin: 9px 0 0 0;
	text-align: center;
	font-size: 27px;
	line-height: 1.52;
	font-family: Georgia, serif;
}

#mojave .hero-bottom-space {
	padding-bottom: 75px;
}

#mojave .footer .follow-us {
	font-size: 18px;
}

#mojave .header .social-media,
#mojave .footer .social-media {
	margin-left: 1px;
}

#mojave .social-media a,
#mojave .social-media a:hover,
#mojave .social-media a:visited,
#mojave .social-media a,
#mojave .social-media a:hover,
#mojave .social-media a:visited {
	color: #000;
	text-decoration: none;
	font-size: 20px;
	font-family: Georgia, serif;
}

#mojave .footer .footer-text {
	font-size: 20px;
	font-family: Georgia, serif;
}

@media (max-width: 768px) {

	#mojave .mojave {
		padding-bottom: 0;
	}

	#mojave .logo .mojave-logo {
		width: 117px;
		background-size: contain;
	}

	#mojave .menu-links {
		margin: 0;
	}

	#mojave .mojave-hamburger {
		margin: 0 0 9px 13px;
	}

	#mojave .hero .mojave-title {
		font-size: 52px;
		letter-spacing: 0.3px;
	}

	#mojave p.mojave-description {
		margin: 17px 0 0 0;
		font-size: 17px;
		line-height: 1.6;
	}

	#mojave .hero-bottom-space {
		padding-bottom: 91px;
	}

	#mojave .social-media a {
		font-size: 15px;
	}

	#mojave .footer .footer-text {
		font-size: 14px;
	}
}
